<div class="container">
    <img src="img/title.jpg" alt="title" id="title">
  <hr>
  <div class="options">
    <h4><a href="/stylists">Check out your stylists</a></h4>
    <h4><a href="/clients">Check our your clients</a></h4>


    <br>
    <br>
    <br>
    <p>Copyirght &copy; RitaWoki!2017</p>
                          <p>Email:ritawoki@gmail.com</p>
  </div>
</div>
